@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Sora:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-one {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-one .title-promo {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.nav-two {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-two .title {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
}

.img-background {
  width: 100%;
  max-height: 30rem;
  background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.82));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img-background .background {
  width: 100%;
  max-height: 30rem;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.4588235294) 5%, rgba(0, 0, 0, 0.831372549) 100%);
  position: unset;
  -o-object-fit: fill;
     object-fit: fill;
}
.img-background .title-jordan {
  padding: 6rem 6rem 6rem 2.5rem;
  width: 100%;
  z-index: 5;
  height: 15rem;
  color: #ffffff;
  position: absolute;
  margin: auto;
}

.main-title {
  margin: 5rem 2rem 2rem 1rem;
}
.main-title .text {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

main {
  width: 100%;
}
main .produtos {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  width: 80%;
}
main .produtos .box-imagem {
  height: 13rem;
  width: 13rem;
  background-color: #EBE9EA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.18);
}
main .produtos .box-imagem img {
  width: 12rem;
  transition: transform 1s;
  transform: translateX(0) scale(1);
}
main .produtos .box-imagem img:hover {
  transform: translateX(5px) scale(1.2);
}

footer {
  background: #181818;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 515px) {
  .nav-one {
    font-size: small;
  }
  .img-background {
    font-size: small;
    height: 15rem;
    width: 100%;
  }
  .img-background .background {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .title-jordan {
    height: auto !important;
    font-size: 0.8rem;
  }
  .main-title {
    margin: 2rem;
  }
  .main-title .title-destaque {
    margin: 2rem;
  }
  .main-title .title-destaque p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title .produtos {
    margin: auto !important;
  }
}
@media (min-width: 1440px) {
  .title-jordan {
    font-size: 1.4rem;
  }
  .title-destaque {
    font-size: 1.4rem;
  }
  .produtos {
    width: 60% !important;
    gap: 2rem !important;
  }
}/*# sourceMappingURL=index.css.map */